{% extends "base_page.html" %}

{% block title %}Movie Listing{% endblock %}

{% block content %}
<h1>Movie Listing</h1>
<form class="navbar-form form-search pull-left" 
    method="GET">

    <div class="input-append" method="get">
        <input id="search_box" name="search_box" type="text" align=”Right” class="form.control" title="q">
        <button type="submit" align=”Right” class="btn">Title</button>
    </div>
</form>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th>Update</th>
		<th>Delete</th>
		<th></th>
    </tr>
    {% for movie in object_list %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.price }}</td>
            <td>{{ movie.release_date }}</td>
            <td><a href="{% url 'movie_edit' movie.id %}" class="btn">Edit</a></td>
			<td><a href="{% url 'movie_delete' movie.id %}" class="btn">Delete</a></td>
			<td></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}